### IDE & Build Output ###
out/
bin/
.idea/
*.iml

### Mac OS ###
.DS_Store

### Generated Javadoc / HTML Documentation ###
documentation/

docs/NOTE-TEMPLATE.md
src/tempelate.md
src/tempelate2.md
dsa-template.md